subcomponents:
  spartan-service:
    namespace: services
    config:
      image:
        pullPolicy: IfNotPresent
        repository: andrebriggs.azurecr.io/andrebriggs/spartan-app
        tag: "334"
      minReadySeconds: 5
      replicaCount: 1
      service:
        containerPort: 8080
        port: 80
      strategyType: RollingUpdate
